th, td {
  border: solid black 1px;
}
th {
  font-weight: bold;
}
fieldset {
  margin-top: 40px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  width: 40%;
}

button {
  background-color: rgba(223, 68, 104, 0.427);
}
input:invalid {
  border: solid rgb(243, 73, 73) 2px;
}
